
::selection {
  background: #09F; /* Safari */
}
::-moz-selection {
  background: #09F; /* Firefox */
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  background-color: #BBB;
  height: 100%;
  font-size: 25px;
  color: #FFF;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1em;
}

.centered {
  width: 60%;
  margin: 0 auto;
  //border-left: 1px solid RGBA(255, 255, 255, 0.1);
}

header {
  //border-bottom: 2px solid #08D;
  margin: 0 auto 10px;
  padding: 60px 0 20px;
  text-align: left;
  //background-color: #CCC;

  h1 {
    color: #09f;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    .centered();
  }
}

@-webkit-keyframes blinker {  
  from { border-color: #FFF; }
  to { border-color: transparent; }
}

.skill {
  .centered();

  margin-bottom: 40px;

  #scores {
    margin-top: 80px;
    background-color: lighten(#BBB, 3%);
    height: 140px;
    position: relative;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  }
  h2 {
    color: #FFF;
    font-weight: normal;
    font-size: 80px;
    line-height: 100px;
    position: relative;
    span.quote {
      display: none;
      position: absolute;
      left: -60px;
      top: 2px;
      font-size: 120%;
      color: #DDD;
      font-family: Arial;
    }
  }
  p {
    font-size: 40px;
    margin: 0 auto;
    margin-left: -300px;
    position: relative;
    left: 50%;
    width: 600px;
    padding: 0;
    font-size: 100px;
    //text-transform: uppercase;
    line-height: 140px;
  }
  strong {
    //height: 80px;
    width: 200px;

    color: #FFF;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    font-weight: bold;
    text-align: center;
    font-size: 100px;
    line-height: 140px;
    text-align: right;
    background: transparent;
    border: none;
    
    padding: 0;
    outline: none;

    .changeable {
      border-bottom: 3px dotted #FFF;
      background-color: RGBA(0, 0, 0, 0.2);
      -webkit-animation-name: blinker;
      -webkit-animation-iteration-count: 3;
      -webkit-animation-duration: 450ms;
      -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    }
  }
  input[type="range"] {
    //height: 80px;
    position: absolute;
    top: 0;
    width: 100%;
    -webkit-appearance: none;
    -moz-apperance: none;
    height: 140px;
    background-color: transparent;
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-apperance: none;
      width: 1px;
      margin-left: 0;
      height: 140px;
      background-color: RGBA(255,255,255,1);
      background-color: transparent;
      border: none;
      &:before {
        content: "";
        position: relative;
        display: block;
        top: 100%;
        left: -10px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 15px 10px;
        border-color: transparent transparent #ffffff transparent;
      }
    }
  }

  .unit {
    font-weight: normal;
  }

  input[type="submit"] {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    padding: 0 30px;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial;
    color: #000;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    border: none;
    background-color: #FFF;
    outline: none;
  }

  .indicator {
    position: absolute;
    width: 100%;
    height: 140px;
    background-color: lighten(#09F, 10%);
    .indicator-wrapper {
      background-color: #09F;
      width: 50%;
      height: 140px;
      -webkit-transition: width 200ms50;
    }
  }

}

.result {
  .centered();
  h2 {
    font-size: 60px;
    line-height: 80px;
    font-weight: normal;
  }
  .sharing {
    margin-top: 40px;
  }
  button {
    background: #FFF;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
  }
}

#indicator {
  width: 50%;
  float: right;
  top: -40px;
  position: relative;
  ul {
    li {
      display: inline-block;
      a, span {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        overflow: hidden;
        margin: 0 5px 0 0;
        text-indent: -80px;
        background-color: #C7C7C7;
      }
      &.active a,
      &.active span {
        background-color: #09F;
      }
      &:hover a {
        background-color: #FFF;
      }
    }
  }

}

input.flash {
  background-color: #09F;
  -webkit-transition: background-color 0 linear;
}
input::selection {
  background: #09F; /* Safari */
}
.submit {
  margin-top: 40px;
}

#speechinput {
  position: absolute;
  left: -40px;
  height: 17px;
  width: 17px;
  width: 17px;
  border: 1px solid #FFF;
  border-radius: 9px;
  -webkit-transform: scale(2);
  color: #FFF;
}

footer {
  margin: 40px auto;
  width: 490px;

}
kbd {
  display: none;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #000;
  border-radius: 2px;
  display: block;
  float: left;
  margin: 0 5px 0 0;
  font-size: 15px;
  color: #000;
}
.smaller {
  font-size: 10px;
}
.d {
  opacity: 0.3;
}
.enter {
  float: left;
}
.enter-1 {
  clear: left;
  float: left;
  width: 10px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 2px 0 0 2px;
  border-right: none;
}
.enter-2 {
  float: left;
  border: 1px solid #000;
  border-radius: 2px;
  height: 70px;
  width: 30px;
}
.enter-3 {
  border: none;
  border-radius: 0;
  border-left: 1px solid #BBB;
  height: 30px;
  width: 30px;
  line-height: 35px;
  position: relative;
  left: -1;
}
.arrows {
  float: left;
  position: relative;
  top: -69px;
  left: 40px;
}
.arrows-first-row kbd {
  position: relative;
  left: 37px;
}
.arrows-second-row {
  clear: left;
  margin-top: -5px;
}
.keyboard {
  margin-top: 80px;
  opacity: 0.6;
}

.first-row {
  float: left;
}
.second-row {
  float: left;
  margin: 5px 0 0 10px;
  clear: left;
  position: relative;
  top: -37px;
}
label {
  display: block;
  float: left;
  width: 200px;
}
.words {
  float: left;
  width: 100%;
}
.word-group {
  float: left;
  width: 50%;
  height: 250px;
}
#setup {
  display: none;
}
#app {
  width: 100%;
  margin: 0 auto;
}
body.position {
  background-color: #09F;
}