::selection {
  background: #09F;
  /* Safari */

}
::-moz-selection {
  background: #09F;
  /* Firefox */

}
html {
  width: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: 'Helvetica Neue', Helvetica, Arial;
  background-color: #BBB;
  height: 100%;
  font-size: 25px;
  color: #FFF;
  width: 100%;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  line-height: 1em;
}
.centered {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .centered {
    width: 90%;
    margin: 0 auto;
  }
}
header {
  margin: 0 auto 10px;
  padding: 80px 0 60px;
  text-align: left;
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  header {
    padding: 10px 0 20px;
  }
}
@media (max-width: 480px) {
  header {
    width: 90%;
    margin: 0 auto;
  }
}
header .for-statement h1 {
  color: #09F;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  padding-left: 20px;
  background: transparent url('assets/stack.svg#quote') no-repeat 0 8px;
  content: 'assets/stack.svg#quote';
}
@media (max-width: 480px) {
  header .for-statement h1 {
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
  }
}
header #indicator {
  float: right;
  position: relative;
  top: -16px;
  /*
    @media @smartphone {
      text-align: center;
      float: none;
      top: -60px;
      margin: 0 auto;
      ul {
        display: inline-block;
      }
    }
    */

}
header #indicator ul li {
  text-align: center;
  display: inline-block;
}
header #indicator ul li a,
header #indicator ul li span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 0 8px;
  text-indent: -80px;
  background-color: #cccccc;
}
@media (max-width: 480px) {
  header #indicator ul li a,
  header #indicator ul li span {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    margin: 0 0 0 4px;
  }
}
header #indicator ul li a {
  background-color: #FFF;
}
header #indicator ul li.active a,
header #indicator ul li.active span {
  background-color: #09F;
}
header #indicator ul li:hover a {
  background-color: #09F;
}
@-webkit-keyframes blinker {
  from {
    border-color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
  }
}
#skill {
  margin-bottom: 80px;
}
@media (max-width: 480px) {
  #skill {
    margin-bottom: 20px;
  }
}
#skill.animated {
  -webkit-transition: height 400ms linear;
  overflow: hidden;
}
#skill.new-skill .skill {
  opacity: 0;
}
.skill {
  opacity: 1;
  -webkit-transition: opacity 600ms linear;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 40px;
}
@media (max-width: 480px) {
  .skill {
    width: 90%;
    margin: 0 auto;
  }
}
.skill h2 {
  color: #FFF;
  font-weight: normal;
  font-size: 96px;
  line-height: 108px;
  position: relative;
}
@media (max-width: 480px) {
  .skill h2 {
    font-size: 32px;
    line-height: 40px;
    margin: 0 auto;
  }
}
.skill h2 .lines {
  background-color: #FF0;
}
.skill h2 span.quote {
  display: none;
  position: absolute;
  left: -60px;
  top: 2px;
  font-size: 120%;
  color: #DDD;
  font-family: Arial;
}
.donotUserSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#input {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  #input {
    width: 90%;
    margin: 0 auto;
  }
}
#input #scores {
  height: 140px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 480px) {
  #input #scores {
    height: 190px;
  }
}
#input p {
  margin: 0 auto;
  margin-left: -300px;
  position: relative;
  left: 50%;
  width: 600px;
  padding: 0;
  font-size: 100px;
  line-height: 140px;
  font-weight: bold;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 480px) {
  #input p {
    font-size: 36px;
    line-height: 80px;
  }
}
#input strong {
  width: 200px;
  display: inline-block;
  color: #FFF;
  text-align: center;
  font-size: 100px;
  line-height: 140px;
  text-align: right;
  background: transparent;
  border: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0;
  outline: none;
}
@media (max-width: 480px) {
  #input strong {
    width: 260px;
    font-size: 36px;
    line-height: 80px;
  }
}
#input strong .changeable {
  border-bottom: 1px solid #FFF;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 900ms;
}
#input input[type="range"] {
  position: absolute;
  top: 0;
  width: 100%;
  -webkit-appearance: none;
  -moz-apperance: none;
  height: 140px;
  background-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 480px) {
  #input input[type="range"] {
    height: 80px;
  }
}
#input input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-apperance: none;
  width: 1px;
  margin-left: 0;
  height: 140px;
  background-color: transparent;
  border: none;
}
@media (max-width: 480px) {
  #input input[type="range"]::-webkit-slider-thumb {
    height: 80px;
  }
}
#input .unit {
  font-weight: normal;
}
#input button {
  display: block;
  position: absolute;
  left: 100%;
  top: 0;
  width: 90px;
  height: 100%;
  color: #000;
  border: none;
  background-color: #FFF;
  outline: none;
}
#input button img {
  display: block;
  width: 29px;
  margin: 0 30px;
}
@media (max-width: 480px) {
  #input button img {
    width: 15px;
    height: 28px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  #input button {
    position: static;
    margin: 20px auto;
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}
#input .indicator {
  position: absolute;
  width: 100%;
  height: 140px;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@media (max-width: 480px) {
  #input .indicator {
    height: 80px;
  }
}
#input .indicator .indicator-wrapper {
  background-color: #09F;
  width: 50%;
  height: 140px;
}
@media (max-width: 480px) {
  #input .indicator .indicator-wrapper {
    height: 80px;
  }
}
#input .indicator .animated {
  -webkit-transition: width 200ms;
}
input.flash {
  background-color: #09F;
  -webkit-transition: background-color 0 linear;
}
input::selection {
  background: #09F;
  /* Safari */

}
.submit {
  margin-top: 40px;
}
#speechinput {
  position: absolute;
  left: -40px;
  top: 60px;
  height: 16px;
  width: 16px;
  border: 1px solid #FFF;
  border-left: 2px solid #FFF;
  border-radius: 8px;
  -webkit-transform: scale(2);
  color: #FFF;
  background-color: #FFF;
}
#speechinput:focus {
  outline: none;
}
@-webkit-keyframes shake {
  from {
    left: -45px;
  }
  to {
    left: -35px;
  }
}
#speechinput.error {
  -webkit-animation-name: shake;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-duration: 450ms;
  -webkit-animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
#ios-keyboard {
  opacity: 0;
  position: absolute;
  left: -200px;
  top: -200px;
}
footer {
  width: 70%;
  margin: 0 auto;
  padding: 80px 0;
}
@media (max-width: 480px) {
  footer {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  footer {
    padding: 20px 0;
  }
}
footer .input-options {
  margin: 0 0 40px;
}
@media (max-width: 480px) {
  footer .input-options {
    margin: 0 0 20px;
  }
}
footer img {
  margin-right: 35px;
}
@media (max-width: 480px) {
  footer img {
    margin-right: 10px;
    -webkit-transform: scale(0.75);
  }
}
footer img.disabled {
  opacity: 0.4;
}
footer p {
  font-size: 14px;
}
footer p a {
  color: #FFF;
  text-decoration: none;
}
footer p a:hover {
  border-bottom: 1px dotted #FFF;
}
label {
  display: block;
  float: left;
  width: 200px;
}
.words {
  float: left;
  width: 100%;
}
.word-group {
  float: left;
  width: 50%;
  height: 250px;
}
#setup {
  display: none;
}
#app {
  width: 100%;
  margin: 0 auto;
}
body.statement #position {
  display: none;
}
body.statement .for-position {
  display: none;
}
body.statement .for-statement {
  display: block;
}
body.position {
  background-color: #09F;
}
body.position #skill,
body.position #input,
body.position #indicator,
body.position .input-options {
  display: none;
}
body.position .for-position {
  display: block;
}
body.position .for-statement {
  display: none;
}
body.position header .for-position h1 {
  color: #FFF;
  padding-left: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  background: transparent url('assets/stack.svg#crown') no-repeat 0 4px;
  content: 'assets/stack.svg#crown';
}
body.position h2 {
  width: 70%;
  margin: 0 auto;
  color: #FFF;
  font-weight: normal;
  font-size: 96px;
  line-height: 108px;
  position: relative;
}
@media (max-width: 480px) {
  body.position h2 {
    width: 90%;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  body.position h2 {
    font-size: 40px;
    line-height: 46px;
    margin: 0 auto;
  }
}
body.position .sharing {
  margin: 40px 0 0;
  background-color: rgba(255, 255, 255, 0.12);
}
body.position .sharing .options {
  width: 70%;
  margin: 0 auto;
  padding: 40px 0;
}
@media (max-width: 480px) {
  body.position .sharing .options {
    width: 90%;
    margin: 0 auto;
  }
}
body.position .sharing .options button {
  border: none;
  display: inline-block;
  background: none;
  color: #FFF;
  font-size: 18px;
  margin-right: 50px;
  height: 30px;
  font-family: 'Helvetica Neue', Helvetica, Arial;
  padding: 2px 15px 2px 30px;
}
body.position .sharing .options button strong {
  display: inline-block;
  font-weight: normal;
}
body.position .sharing .options button:hover {
  background-color: #09F;
}
body.position .sharing .options button.twitter {
  padding-left: 35px;
  background: transparent url('assets/stack.svg#twitter') no-repeat 8px 6px;
  content: 'assets/stack.svg#twitter';
  background-size: 20px;
}
body.position .sharing .options button.facebook {
  background: transparent url('assets/stack.svg#facebook') no-repeat 12px 5px;
  content: 'assets/stack.svg#facebook';
  background-size: 10px;
}
body.position .sharing .options button.facebook:hover,
body.position .sharing .options button.twitter:hover {
  background-color: #09F;
  cursor: pointer;
}
body.position .apply {
  background-color: #FFF;
  padding: 40px 0 600px;
  color: #000;
  font-size: 16px;
}
body.position .apply .content {
  width: 70%;
  margin: 0 auto;
}
@media (max-width: 480px) {
  body.position .apply .content {
    width: 90%;
    margin: 0 auto;
  }
}
body.position .apply h3 {
  margin: 0 0 1em;
}
body.position .apply p {
  line-height: 22px;
}
body.position footer {
  display: none;
}
