
@desktop: ~"(min-width: 1200px)";
@laptop: ~"(max-width: 1200px )";
@tablet: ~"(max-width: 980px)";
@fluid: ~"(max-width: 767px)";
@smartphone: ~"(max-width: 480px)";
@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";


@baseFontFamily: 'Helvetica Neue', Helvetica, Arial;

::selection {
  background: #09F; /* Safari */
}
::-moz-selection {
  background: #09F; /* Firefox */
}

html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

}
* {
  margin: 0;
  padding: 0;
  line-height: 1em;
}
body {
  font-family: @baseFontFamily;
  background-color: #BBB;
  min-height: 100%;
  font-size: 25px;
  color: #FFF;
  width: 100%;
  overflow-x: hidden;
  @media @smartphone {
    //width: 320px;
  }
}
#app {
  min-height: 100%;
  -webkit-transition: background-color 400ms linear;
  overflow: hidden; 
  @media @smartphone {
    //width: 320px;
  }
}

.centered {
  width: 70%;
  margin: 0 auto;
  //border-left: 1px solid RGBA(255, 255, 255, 0.1);
  //background: #F00;

  @media @tablet {
    width: 688px;
    margin: 0 auto 0 40px;
  }

  @media @smartphone {
    width: 90%;
    margin: 0 auto 0 auto;
  }

  @media @desktop {
    width: 60%;
    margin: 0 auto;
  }
}

@smHeight: 80px;
@smFontsize: 28px;
@smLineheight: 36px;

header {
  //border-bottom: 2px solid #08D;
  margin: 0 auto 10px;
  padding: 20px 0 42px;
  text-align: left;
  @media @smartphone {
    padding: 10px 0 15px;
  }
 .centered();
  .for-statement h1 {
    color: #09F;
    font-size: 16px;
    line-height: 22px;
    padding-left: 20px;
    background: transparent url('assets/stack.svg#quote') no-repeat 0 6px;
    content: 'assets/stack.svg#quote';
    @media @smartphone {
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
    }
    
  }
  #indicator {
    float: right;
    position: relative;
    top: -16px;

    ul {
      li {
        text-align: center;
        display: inline-block;
        a, span {
          display: block;
          width: 10px;
          height: 10px;
          border-radius: 5px;
          overflow: hidden;
          margin: 0 0 0 8px;
          text-indent: -80px;
          background-color: darken(#FFF, 20%);

          @media @smartphone {
            width: 6px;
            height: 6px;
            border-radius: 3px;
            margin: 0 0 0 4px;
          }
        }
        a {
          background-color: #FFF;
        }
        &.active a,
        &.active span {
          background-color: #09F;
        }
        &:hover a {
          background-color: #09F;
        }
      }
    }
    /*
    @media @smartphone {
      text-align: center;
      float: none;
      top: -60px;
      margin: 0 auto;
      ul {
        display: inline-block;
      }
    }
    */
  }
}

@-webkit-keyframes blinker {  
  from {
    border-color: RGBA(255, 255, 255, 1);
    background-color: RGBA(0, 0, 0, 0.4);
  }
  to {
    //border-color: transparent;
    background-color: RGBA(0, 0, 0, 0);
  }
}

#skill {
  margin-bottom: 40px;
  @media @smartphone {
    margin-bottom: 20px;
  }
}

#skill.animated {
  -webkit-transition: height 200ms linear;
  overflow: hidden;
}

#skill.new-skill .skill {
  opacity: 0;
}

.skill {

  opacity: 1;
  -webkit-transition: opacity 1200ms ease-out;

  .centered();
  margin-bottom: 40px;

  h2 {
    color: #FFF;
    font-weight: normal;
    font-size: 76px;
    line-height: 86px;
    position: relative;

    @media @laptop {
      font-size: 76px;
      line-height: 86px;
    }

    @media @tablet {
      font-size: 64px;
      line-height: 72px;
    }

    @media @smartphone {
      font-size: @smFontsize;
      line-height: @smLineheight;
      margin: 0 auto;
    }
    .lines {
      //background-color: #FF0;
      color: #FF0;
    }
    span.quote {
      display: none;
      position: absolute;
      left: -60px;
      top: 2px;
      font-size: 120%;
      color: #DDD;
      font-family: Arial;
    }
  }
}

.donotUserSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@h: 112px;

#input {
  .centered();
  #scores {
    //background-color: lighten(#BBB, 3%);
    height: @h;
    position: relative;

    color: RGBA(255, 255, 255, 1);
    color: RGBA(0, 0, 0, 1);

    .donotUserSelect();
    @media @smartphone {
      height: @smHeight + 90px + 20px;
    }
  }
  font-size: 74px;
  line-height: @h;

  #skill-input {

  }
  p {
    margin: 0 auto;
    margin-left: -285px;
    position: relative;
    left: 50%;
    width: 600px;
    padding: 0;
    line-height: @h;
    font-family: @baseFontFamily;
    font-weight: bold;
    .donotUserSelect();

    @media @tablet {
      margin-left: -325px;
    }
    @media @smartphone {
      font-size: 36px;
      margin-left: -300px;
      line-height: @smHeight;
    }

  }
  strong {

    width: 200px;
    display: inline-block;
    text-align: center;
    text-align: right;
    background: transparent;
    border: none;

    font-family: "Century Gothic";

    @media @tablet {
      font-family: @baseFontFamily;
    }

    .donotUserSelect();
    @media @smartphone {
      width: 260px;
    }
    
    padding: 0;
    outline: none;

    .changeable {
      border-bottom: 1px solid #FFF;
      //background-color: RGBA(0, 0, 0, 0.2);
      -webkit-animation-name: blinker;
      -webkit-animation-iteration-count: 1;
      -webkit-animation-duration: 900ms;
      //-webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    }
    .overwritable {
      //border-bottom: 1px solid #FFF;
      //text-decoration: underline;
      //background-color: RGBA(0, 0, 0, 0.2);
    }
  }
  input[type="range"] {
    //height: 80px;
    position: absolute;
    z-index: 200;
    top: 0;
    width: 100%;
    @media @tablet {
      width: 598px;
    }
    @media @smartphone {
      width: 100%;
      height: @smHeight;
    }
    -webkit-appearance: none;
    -moz-apperance: none;
    height: @h;
    background-color: transparent;
    .donotUserSelect();
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      -moz-apperance: none;
      width: 1px;
      margin-left: 0;
      height: @h;
      background-color: transparent;
      border: none;
      @media @smartphone {
        height: @smHeight;
      }
    }


    /*
  @color: rgba(0, 0, 0, 0.8);
  border-color: @color;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px @color;
  outline: 0;
  outline: thin dotted \9;
  */

  }

  .unit {
    font-weight: bold;
    font-family: @baseFontFamily;
  }

  button {
    display: block;
    position: absolute;
    left: 100%;
    top: 0;
    width: 90px;
    height: 100%;
    color: #000;
    border: none;
    background-color: #FFF;
    outline: none;
    img {
      display: block;
      width: 29px;
      margin: 0 30px;

      @media @smartphone {
        width: 15px;
        height: 28px;
        margin: 0 auto;
      }
    }
    @media @tablet {
      left: 598px;
    }
    @media @smartphone {
      position: static;
      margin: 20px auto;
      width: 80px;
      height: 80px;
      border-radius: 40px;
    }
  }

  .indicator {
    position: absolute;
    width: 100%;
    height: @h;
    background-color: RGBA(0, 0, 0, 0.10);

    -webkit-transition: background-color 400ms ease-out;
    .donotUserSelect();

    @media @tablet {
      width: 598px;
    }
    @media @smartphone {
      height: @smHeight;
      width: 100%;
    }
    .indicator-wrapper {
      background-color: #09F;
      width: 50%;
      height: @h;
      opacity: 1;
      @media @smartphone {
        height: @smHeight;
      }
      -webkit-transition: opacity 400ms ease-out;
    }
  }
}

#input #scores {

  width: 100%;
  margin: 0 auto;
  color: RGBA(255, 255, 255, 0);
  -webkit-transition: width 300ms ease-out, color 100ms;
  button {
    display: none;
  }
  #speechinput {
    display: none;
  }
}

#input #scores.flash {
  width: 0;
  overflow: hidden;
  color: RGBA(255, 255, 255, 0);
  @media @tablet {
    width: 0;
  }
  .indicator {
    //background-color: RGBA(255, 255, 0, 1);
    .indicator-wrapper {
      opacity: 0;
      width: 0;
    }
  }
  button {
    display: none;
  }
  #speechinput {
    display: none;
  }
}

#input #scores.active {
  color: RGBA(255, 255, 255, 1);
  button {
    display: block;
  }
  #speechinput {
    display: block;
  }
  .indicator {
    .indicator-wrapper {
      -webkit-transition: opacity 500ms;
    }
    .animated {
      -webkit-transition: opacity 500ms,  width 200ms;
    }
  }
}

input.flash {
  background-color: #09F;
  -webkit-transition: background-color 0 linear;
}
input::selection {
  background: #09F; /* Safari */
}
.submit {
  margin-top: 40px;
}

#speechinput {
  position: absolute;
  left: -40px;
  top: @h / 2 - 10px;
  height: 16px;
  width: 16px;
  border: 1px solid #FFF;
  border-left: 2px solid #FFF;
  border-radius: 8px;
  -webkit-transform: scale(2);
  color: #FFF;
  background-color: #FFF;
}

#speechinput:focus {
  outline: none;
}

@-webkit-keyframes shake {  
  from { left: -45px; }
  to { left: -35px; }
}
#speechinput.error {
  -webkit-animation-name: shake;
  -webkit-animation-iteration-count: 3;
  -webkit-animation-duration: 450ms;
  -webkit-animation-timing-function: cubic-bezier(1.0,0,0,1.0);
}

#ios-keyboard {
  opacity: 0;
  position: absolute;
  left: -200px;
  top: -200px;
}

footer {
  .centered();
  padding: 80px 0 160px;

  @media @smartphone {
    padding: 20px 0;
  }
  .input-options {
    margin: 0 0 40px;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      display: inline-block;
      
      @media @smartphone {
        width: 23%;
        overflow: hidden;
        text-align: center;
      }
    }
    @media @smartphone {
      margin: 0 0 20px;
    }
  }
  img {
    margin-right: 35px;
    @media @smartphone {
      -webkit-transform: scale(0.75);
      margin: 0 auto;
      display: inline-block;
    }
  }
  img.disabled {
    opacity: 0.4;
  }
  p {
    .break {
      display: none;
    }
    font-size: 14px;
    line-height: 18px;
    @media @smartphone {
      text-align: center;
      .break {
        display: inline;
      }
    }
    a {
      color: #FFF;
      text-decoration: none;
    }
    a:hover {
      border-bottom: 1px dotted #FFF;
    }
  }
}

label {
  display: block;
  float: left;
  width: 200px;
}
.words {
  float: left;
  width: 100%;
}
.word-group {
  float: left;
  width: 50%;
  height: 250px;
}
#setup {
  display: none;
}

body.statement {

  #position {
    display: none;
  }

  .for-position {
    display: none;
  }

  .for-statement {
    display: block;
  }

}

body.position {
  background-color: #09F;
  #skill,
  #input,
  #indicator,
  .input-options {
    display: none;
  }

  .for-position {
    display: block;
  }

  .for-statement {
    display: none;
  }

  header .for-position h1 {
    color: #FFF;
    padding-left: 30px;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    background: transparent url('assets/stack.svg#crown') no-repeat 0 4px;
    content: 'assets/stack.svg#crown';
  }

  h2 {
    .centered();
    color: #FFF;
    font-weight: normal;
    font-size: 96px;
    line-height: 108px;
    position: relative;
    @media @smartphone {
      font-size: 40px;
      line-height: 46px;
      margin: 0 auto;
    }
  }

  .sharing {
    margin: 40px 0 0;
    background-color: RGBA(255, 255, 255, 0.12);
    .options {
      .centered();
      padding: 40px 0;
      button {
        border: none;
        display: inline-block;
        background: none;
        color: #FFF;
        font-size: 18px;
        margin-right: 50px;
        height: 30px;
        font-family: 'Helvetica Neue', Helvetica, Arial;
        padding: 2px 15px 2px 30px;

        strong {
          display: inline-block;
          font-weight: normal;
        }
        &:hover {
          background-color: #09F;
        }
        &.twitter {
          padding-left: 35px;
          background: transparent url('assets/stack.svg#twitter') no-repeat 8px 6px;
          content: 'assets/stack.svg#twitter';
          background-size: 20px;
        }
        &.facebook {
          background: transparent url('assets/stack.svg#facebook') no-repeat 12px 5px;
          content: 'assets/stack.svg#facebook';
          background-size: 10px;
        }
        &.facebook:hover,
        &.twitter:hover {
          background-color: #09F;
          cursor: pointer;
        }
      }
    }
  }
  .apply {
    background-color: #FFF;
    padding: 40px 0 600px;
    .content {
      .centered();
    }
    color: #000;
    font-size: 16px;
    h3 {
      margin: 0 0 1em;
    }
    p {
      line-height: 22px;
    }
  }

  footer {
    display: none;
  }
}