  <div class="apply">
    <div class="content">
      {[ if(special == '100') { ]}
      <p>
        Sorry, we don't believe in perfectionism!
        
      </p>
      {[ } else if(special == 'avg') { ]}
      <p>
        We are not looking for Average Designers!
      </p>
      {[ } else { ]}
      <p>
        We are not looking for Tax Accountants!
      </p>
      {[ } ]}
      <p><button href="http://designposition.precious-forever.com">Start again</button></p>
    </div>
  </div>