  <div class="apply">
    <div class="content">
      <h3>Join us at precious design studio</h3>
      <p>We are looking for a {{ position }} to join our team. At precious, we often do a little bit of everything – research, concept, interaction design, visual design, coding, cooking… We offer a challenging but relaxed working environment. You will work in a small team (at the moment we are just 4 people), often collaborating closely with our clients and other partners.
      <p><button id="apply" href="mailto:jobs@precious-forever.com">Get in touch</button> or <a href="http://precious-forever.com/join-us">Learn more about us</a></p>
      <p></p>
    </div>
  </div>