  <div class="apply">
    <div class="content">
      <h3>Join us at precious</h3>
      <p>We are looking for a {{ position }} to join our team. If you are passionate about creating great digital products and services, have a healthy obsession about details and unconditional love for design, please get in touch.
      <p><button id="apply" href="mailto:jobs@precious-forever.com">Apply now</button> or <a href="http://precious-forever.com/join-us">Learn more about us</a></p>
      <p></p>
    </div>
  </div>