  <script src="position-finder-data.js?v=<%= pkg.version %>"></script>
  <script src="position-finder.min.js?v=<%= pkg.version %>"></script>
  <link rel="stylesheet" href="styles.min.css?v=<%= pkg.version %>" type="text/css">